// topページについて
@use '../global/variables' as variables;

// ---------------------------------------
// utility
// ---------------------------------------
.u-top-img {
  width: 100%;
  vertical-align: bottom;
}

.u-top-only-sp {
  @media (640px <=width) {
    display: none;
  }
}

.u-top-only-pc {
  @media (639px >=width) {
    display: none;
  }
}

.u-top-bg-orange {
  background: variables.$color-logo-parts02;
}

// ---------------------------------------
// component
// ---------------------------------------
.c-top-inner-sp {
  @media (639px >=width) {
    width: 90.66%;
    margin: 0 auto;
  }
}

.c-top-inner-pc {
  @media (640px <=width) {
    width: 100%;
    max-width: 1150px;
    padding: 0 25px;
    margin: 0 auto;
  }
}

.c-top-heading-h2 {
  margin-bottom: 45px;
  font-size: 12px;
  line-height: 1;

  @media (640px <=width) {
    margin-bottom: 60px;
    font-size: 16px;
  }

  span {
    display: block;
    margin-bottom: 14px;
    font-family: variables.$base-font-English;
    font-size: 45px;
    font-weight: 800;
    color: variables.$color-logo-parts01;
    letter-spacing: 0.04em;

    @media (640px <=width) {
      margin-bottom: 20px;
      font-size: 64px;
    }
  }

  &.-white {
    color: variables.$color-white;

    span {
      color: variables.$color-white;
    }
  }
}

// ---------------------------------------
// project
// ---------------------------------------
.p-top-kv {
  position: relative;
  padding: 60px 0 25px;

  @media (640px <=width) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    padding: 110px 0;
  }

  &_pic {
    position: relative;
    width: 90.66%;
    margin: 0 0 0 auto;

    @media (640px <=width) {
      width: 59.66%;
      margin: 0 0 0 5.71%;
    }

    @media (640px <=width < 960px) {
      margin: 0 0 0 3%;
    }

    .swiper {
      overflow: hidden;
      border-radius: 30px 0 0 30px;

      @media (640px <=width) {
        border-radius: 80px 0 0 80px;
      }
    }
  }

  &_animation {
    position: absolute;
    right: 25px;
    bottom: 0;
    z-index: 10;
    width: 93px;
    transform: translateY(50%);

    @media (640px <=width) {
      right: 133px;
    }

    @media (640px <=width < 960px) {
      right: 50px;
    }

    &-arrow {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 18px;
      opacity: 0.5;
      transform: translate(-50%, -50%);
    }

    &-scroll {
      animation: rotateScroll 10s linear infinite;

      @keyframes rotateScroll {
        from {
          transform: rotate(0);
        }

        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  &_text {
    margin-top: 40px;

    @media (640px <=width) {
      width: 24.81%;
      min-width: 340px;
      margin-top: 95px;
    }

    @media (640px <=width < 960px) {
      min-width: 220px;
    }
  }

  &_heading {
    padding-left: 5%;
    margin-top: 8px;
    font-size: 42px;
    font-weight: 900;
    line-height: 1.2;

    @media (640px <=width) {
      padding-left: 0;
      margin-top: 0;
      font-size: 62px;
    }

    @media (640px <=width < 960px) {
      font-size: 40px;
    }

    @media (1366px <=width) {
      font-size: calc(62 / 1366 * 100vw);
    }

    &-sub {
      padding-left: 5%;
      font-family: variables.$base-font-English;
      font-size: 10px;
      letter-spacing: 0;

      @media (640px <=width) {
        padding-left: 0;
        font-size: 14px;
      }

      @media (640px <=width < 960px) {
        font-size: 10px;
      }

      @media (1366px <=width) {
        font-size: calc(14 / 1366 * 100vw);
      }
    }
  }

  &_entry {
    margin-top: 30px;
    text-align: center;

    @media (640px <=width) {
      margin-top: 40px;
      margin-right: 20px;
    }

    @media (640px <=width < 960px) {
      margin-top: 25px;
    }

    &_btn {
      position: relative;
      display: block;
      width: 218px;
      padding: 6px 50px;
      margin: 0 auto;
      font-family: variables.$base-font-English;
      font-size: 18px;
      background-color: variables.$color-white;
      border-radius: 9999px;
      transform: rotateZ(1);

      @media (640px <=width) {
        width: 100%;
        max-width: 218px;
        transition: 0.3s ease-in-out;
      }

      &:hover {
        &::after {
          right: 19px;
        }
      }

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        content: '';
        background: linear-gradient(
          95deg,
          variables.$color-logo-parts01 0%,
          variables.$color-logo-parts01 25%,
          variables.$color-logo-parts02 25%,
          variables.$color-logo-parts02 50%,
          variables.$color-logo-parts04 50%,
          variables.$color-logo-parts04 75%,
          variables.$color-logo-parts03 75%,
          variables.$color-logo-parts03 100%
        );
        border-radius: 9999px;
        transform: translate(-50%, -50%);
      }

      &::after {
        position: absolute;
        top: 30%;
        right: 24px;
        display: block;
        width: 10px;
        height: 10px;
        content: '';
        background-image: url(/public/img/top/ico-triangle-black.svg);
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0.3s ease-in-out;
        transform: rotate(-135deg) translateY(-50%);
      }
    }

    &_textlink {
      display: inline-block;
      margin-top: 15px;
      text-decoration: underline;

      @media (640px <=width) {
        margin-top: 20px;
        font-size: 12px;
        transition: 0.3s ease-in-out;
      }

      &:hover {
        @media (640px <=width) {
          opacity: 0.7;
        }
      }
    }
  }
}

.p-top-news {
  &_list {
    border-top: 1px solid variables.$color-gray-light;

    li {
      padding: 16px 0;
      border-bottom: 1px solid variables.$color-gray-light;

      @media (640px <=width) {
        display: flex;
        gap: 20px;
        padding: 16px;
      }
    }
  }

  &_date {
    font-family: variables.$base-font-English;
    font-size: 10px;
    color: variables.$color-gray-black;

    @media (640px <=width) {
      width: 90px;
      margin-top: 2px;
      font-size: 12px;
    }
  }

  &_contents {
    @media (640px <=width) {
      width: calc(100% - 90px - 20px);
    }

    a {
      @media (640px <=width) {
        transition: 0.3s ease-in-out;
      }

      &:hover {
        @media (640px <=width) {
          opacity: 0.7;
        }
      }

      &[target='_blank'] {
        &::after {
          display: inline-block;
          width: 10px;
          height: 10px;
          margin-left: 5px;
          vertical-align: middle;
          content: '';
          background-image: url(/public/img/top/ico-window.svg);
          background-position: center center;
          background-size: contain;

          @media (640px <=width) {
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }
}

.p-top-about {
  padding-top: 95px;

  @media (640px <=width) {
    padding-top: 90px;
  }

  &_mvv {
    padding: 90px 0 60px;
    margin-top: -50px;

    @media (640px <=width) {
      padding: 150px 0 100px;
      margin-top: -80px;
    }

    &_column {
      @media (640px <=width) {
        display: flex;
        justify-content: space-between;
      }

      &-left,
      &-right {
        @media (640px <=width) {
          width: calc((100% - 40px) / 2);
        }
      }

      &-right {
        margin-top: 40px;

        @media (640px <=width) {
          margin-top: 0;
        }
      }
    }

    &_item {
      & + .p-top-about_mvv_item {
        margin-top: 40px;

        @media (640px <=width) {
          margin-top: 50px;
        }
      }
    }

    &_heading {
      display: inline-block;
      padding: 3px 15px;
      font-family: variables.$base-font-English;
      font-size: 10px;
      color: variables.$color-logo-parts02;
      background: variables.$color-white;
      border-radius: 9999px;

      @media (640px <=width) {
        padding: 4px 20px;
        font-size: 14px;
      }
    }

    &_detail {
      color: variables.$color-white;

      dt {
        margin-top: 6px;
        font-size: 20px;

        @media (640px <=width) {
          margin-top: 10px;
          font-size: 30px;
        }
      }

      dd {
        margin-top: 8px;

        @media (640px <=width) {
          margin-top: 15px;
        }

        & + dt {
          margin-top: 30px;

          @media (640px <=width) {
            margin-top: 26px;
          }
        }
      }
    }
  }

  &_business {
    padding: 60px 0 100px;

    @media (640px <=width) {
      padding: 100px 0 130px;
    }

    &_heading {
      margin-bottom: 5px;
      font-size: 14px;
      color: variables.$color-logo-parts04;

      @media (640px <=width) {
        margin-bottom: 5px;
        font-size: 16px;
      }
    }

    &_column {
      @media (640px <=width) {
        display: flex;
        justify-content: space-between;
      }
    }

    &_item {
      @media (640px <=width) {
        width: calc((100% - 40px) / 2);
      }

      & + .p-top-about_business_item {
        margin-top: 60px;

        @media (640px <=width) {
          margin-top: 0;
        }
      }

      &_heading {
        font-size: 20px;
      }

      &_desc {
        margin-top: 8px;

        @media (640px <=width) {
          margin-top: 18px;
        }
      }

      &_img {
        margin-top: 30px;
      }
    }
  }
}

.p-top-message {
  padding: 100px 0;

  @media (640px <=width) {
    padding: 130px 0;
  }

  &_column {
    @media (640px <=width) {
      display: flex;
      gap: 40px;
    }
  }

  &_img {
    @media (640px <=width) {
      width: 39.54%;
    }
  }

  &_text {
    margin-top: 40px;

    @media (640px <=width) {
      width: 56.81%;
      margin-top: 0;
    }
  }

  &_eyecatch {
    font-size: 25px;
    line-height: 1.4;
    letter-spacing: 0.04em;

    @media (640px <=width) {
      font-size: 35px;
      line-height: 1.5;
    }
  }

  &_main {
    margin-top: 24px;
    color: variables.$color-black-light;

    @media (640px <=width) {
      margin-top: 40px;
    }
  }

  &_from {
    margin-top: 20px;
    text-align: right;

    @media (640px <=width) {
      margin-top: 35px;
      font-size: 20px;
    }

    span {
      margin-left: 10px;
      font-size: 18px;

      @media (640px <=width) {
        margin-left: 15px;
        font-size: 25px;
      }
    }
  }
}

.p-top-points {
  padding: 60px 0;

  @media (640px <=width) {
    padding: 100px 0;
  }

  &_list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 20px;
    justify-content: space-between;

    @media (640px <=width) {
      gap: 26px 40px;
      justify-content: center;
    }

    li {
      position: relative;
      z-index: 0;
      width: 100%;

      @media (640px <=width) {
        width: calc((100% - 80px) / 3);
      }

      &:nth-of-type(1) {
        @media (640px <=width) {
          order: 0;
        }

        &::before {
          background-image: url(/public/img/top/bg-voice-red-right.png);

          @media (640px <=width) {
            background-image: url(/public/img/top/bg-voice-red-pc.png);
          }
        }
      }

      &:nth-of-type(2) {
        @media (640px <=width) {
          order: 1;
        }

        &::before {
          background-image: url(/public/img/top/bg-voice-blue-small.png);

          @media (640px <=width) {
            background-image: url(/public/img/top/bg-voice-blue-pc.png);
          }
        }
      }

      &:nth-of-type(3) {
        @media (640px <=width) {
          order: 2;
        }

        &::before {
          background-image: url(/public/img/top/bg-voice-green-small.png);

          @media (640px <=width) {
            background-image: url(/public/img/top/bg-voice-green-pc.png);
          }
        }
      }

      &:nth-of-type(4) {
        @media (640px <=width) {
          order: 4;
        }

        &::before {
          background-image: url(/public/img/top/bg-voice-red-left.png);

          @media (640px <=width) {
            background-image: url(/public/img/top/bg-voice-red-pc.png);
          }
        }
      }

      &:nth-of-type(5) {
        @media (640px <=width) {
          order: 3;
        }

        &::before {
          background-image: url(/public/img/top/bg-voice-green.png);

          @media (640px <=width) {
            background-image: url(/public/img/top/bg-voice-green-pc.png);
          }
        }
      }

      &[data-frame-size-sp='small'] {
        @media (639px >=width) {
          width: calc((100% - 20px) / 2);
        }
      }

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: -1;
        width: calc(100% + 4px);
        height: 100%;
        content: '';
        background-repeat: repeat-y;
        background-repeat: no-repeat;
        background-size: 100% auto;
        transform: translate(0, -50%);
      }
    }
  }

  &_btn {
    position: relative;
    display: block;
    width: 100%;
    padding: 17px 35px;
    margin-top: 36px;
    font-size: 14px;
    text-align: center;
    background: variables.$color-white;
    border: 2px solid variables.$color-black;
    border-radius: 9999px;
    box-shadow: 4px 4px 0 variables.$color-black;

    @media (640px <=width) {
      max-width: 340px;
      padding: 13px 35px;
      margin: 46px auto 0;
      font-size: 16px;
      transition: 0.3s ease-in-out;
    }

    &:hover {
      @media (640px <=width) {
        box-shadow: 0 0 0 variables.$color-black;
        transform: translate(4px, 4px);
      }
    }

    &::before {
      position: absolute;
      top: 35%;
      right: 24px;
      display: block;
      width: 10px;
      height: 10px;
      content: '';
      background-image: url(/public/img/top/ico-triangle-black.svg);
      background-repeat: no-repeat;
      background-size: contain;
      transform: rotate(-135deg) translateY(-50%);
    }
  }
}

.p-top-faq {
  padding: 100px 0;

  @media (640px <=width) {
    padding: 120px 0 150px;
  }

  &_item {
    border-top: 1px solid variables.$color-gray-light;

    &:last-of-type {
      border-bottom: 1px solid variables.$color-gray-light;
    }

    dt,
    dd {
      position: relative;

      & > span {
        position: absolute;
        left: 0;
        font-family: variables.$base-font-English;
        font-size: 20px;

        @media (640px <=width) {
          font-size: 25px;
        }
      }
    }

    dt {
      padding: 20px 45px 20px 40px;
      font-size: 14px;
      cursor: pointer;

      @media (640px <=width) {
        padding: 23px 40px;
        font-size: 16px;
      }

      &.is-open {
        &::after {
          transform: rotate(0deg);
        }
      }

      & > span {
        top: 12px;
        color: variables.$color-logo-parts03;

        @media (640px <=width) {
          top: 15px;
        }
      }

      &::before,
      &::after {
        position: absolute;
        top: 32px;
        right: 10px;
        width: 17px;
        height: 2px;
        content: '';
        background: variables.$color-black;
        border-radius: 9999px;
        transition: 0.3s ease-in-out;

        @media (640px <=width) {
          top: 36px;
          right: 13px;
        }
      }

      &::after {
        transform: rotate(-90deg);
      }
    }

    dd {
      display: none;
      padding: 0 0 17px 40px;
      color: variables.$color-black-light;

      & > span {
        top: -7px;
        color: variables.$color-logo-parts01;

        @media (640px <=width) {
          top: -12px;
        }
      }
    }
  }
}
