// メンバーページについて
@use "../global/variables" as variables;
.member-introduction-wrapper {
    font-family: variables.$base-font-Japanese;
    width: 90.66%;
    margin: 0 auto;
}

.member-introduction-title {
    width: 90.66%;
    padding: 120px 0px 70px 0px;
    margin: 0 auto;

    @media (640px <= width) {
    }
    @media (960px <= width) {
    }
}

.member-introduction-subtitle {
    color: variables.$color-black;
    text-align: center;
    font-size: 12px;
    font-weight: 700;

    @media (640px <= width) {
    }
    @media (960px <= width) {
    }
}

.member-introduction-h1 {
    font-family: variables.$base-font-English;
    color: variables.$color-logo-parts02;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 1.44px;

    @media (640px <= width) {
    }
    @media (960px <= width) {
    }
}

#member {
    margin-bottom: 100px;

    h2 {
        font-family: variables.$base-font-English;
        color: variables.$color-logo-parts02;
        font-size: 10px;
        line-height: 2.7;
        letter-spacing: 0.4px;
        @media (640px <= width) {
            font-size: 12px;
            line-height: 2.25;
            letter-spacing: 0.48px;
            text-align: center;
        }
    }

    h3 {
        font-size: 18px;
        letter-spacing: 0.72px;
        margin-bottom: 34px;
        line-height: 1.5;
        @media (640px <= width) {
            font-size: 24px;
            margin-bottom: 48px;
            letter-spacing: 0.96px;
            text-align: center;
        }
    }
    .member-message {
        line-height: 1.8;
        margin-bottom: 40px;
        @media (640px <= width) {
            margin-bottom: 45px;
        }
        @media (960px <= width) {
            margin-bottom: 50px;
        }

        .sp_br {
            display: none;
            @media (640px <= width) {
                display: inline;
            }
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        @media (640px <= width) {
            gap: 30px;
        }
        li {
            flex-grow: 1;
            width: 42.66%;
            margin-bottom: 5px;
            @media (640px <= width) {
                width: 15%;
                margin-bottom: 30px;
            }
            @media (960px <= width) {
                width: 17%;
            }
            .role {
                font-size: 10px;
                margin-top: 10px;
                line-height: normal;
                @media (640px <= width) {
                    font-size: 12px;
                }
            }
            h4 {
                font-size: 14px;
                line-height: normal;
                @media (640px <= width) {
                    font-size: 16px;
                }
            }
        }
        .andmore {
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                font-size: 16px;
                font-family: variables.$base-font-English;
                letter-spacing: 0.64px;
                color: variables.$color-black-light;
            }
        }
    }
}

#interview {
    margin-bottom: 100px;
    h2 {
        font-family: variables.$base-font-English;
        color: variables.$color-logo-parts02;
        font-size: 10px;
        line-height: 2.7;
        letter-spacing: 0.4px;
        @media (640px <= width) {
            font-size: 12px;
            text-align: center;
        }
    }

    h3 {
        font-size: 18px;
        letter-spacing: 0.72px;
        margin-bottom: 34px;
        line-height: 1.5;
        @media (640px <= width) {
            font-size: 24px;
            letter-spacing: 0.96px;
            text-align: center;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 60px;
        .interview-list {
            margin-bottom: 30px;
            width: 48%;
            &_date {
                font-size: 10px;
                font-family: variables.$base-font-English;
                color: variables.$color-gray-black;
                margin-top: 5px;
                @media (640px <= width) {
                    font-size: 12px;
                    margin-top: 10px;
                }
            }
            &_img {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 24vw;
                background-color: #f2f2f2;
                border-radius: 4px;
                @media (640px <= width) {
                    border-radius: 13px;
                }
            }
            &_content {
                color: variables.$color-black-light;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                @media (640px <= width) {
                    font-size: 16px;
                }
            }
        }
    }
    .interview-seemore {
        position: relative;
        height: 90px;
        &_btn {
            font-size: 14px;
            width: 340px;
            inset: 35px auto auto 50%;
            translate: -50% -50%;
            position: absolute;
            text-decoration: none;
            padding: 17px 35px;
            background-color: variables.$color-white;
            border: 2px solid variables.$color-black;
            border-radius: 65px;
            color: variables.$color-black;
            cursor: pointer;
            box-shadow: 2px 2px 0 variables.$color-black;
            text-align: center;
            &:hover {
                transform: translate(2px, 2px);
                box-shadow: none;
            }
        }
        &_jump {
            position: absolute;
            inset: 22px 0px 0px 300px;
        }
        &_kome {
            font-size: 10px;
            color: variables.$color-gray-black;
            position: absolute;
            inset: 90px auto auto 50%;
            translate: -50% -50%;
        }
    }
}

#career-path {
    margin-top: 100px;
    margin-bottom: 100px;
    h2 {
        font-family: variables.$base-font-English;
        color: variables.$color-logo-parts02;
        font-size: 10px;
        line-height: 2.7;
        letter-spacing: 0.4px;
        @media (640px <= width) {
            font-size: 12px;
            line-height: 2.25;
            letter-spacing: 0.48px;
            text-align: center;
        }
    }

    h3 {
        font-size: 18px;
        letter-spacing: 0.72px;
        margin-bottom: 34px;
        line-height: 1.5;
        @media (640px <= width) {
            font-size: 24px;
            margin-bottom: 48px;
            letter-spacing: 0.96px;
            text-align: center;
        }
    }
    .career-path-message {
        line-height: 1.8;
        margin-bottom: 40px;
        @media (640px <= width) {
            margin-bottom: 84px;
            text-align: center;
        }

        .annotation {
            font-family: variables.$base-font-Japanese;
            font-size: 10px;
            color: variables.$color-gray-black;
            @media (640px <= width) {
                font-size: 12px;
            }
        }
    }
    .career-path-wrapper {
        .row {
            display: block;
            @media (960px <= width) {
                display: flex;
            }
        }
        .career-path-main {
            @media (640px <= width) {
                display: inline-block;
                font-size: 0px;
                width: calc(50% - 2px);
            }
        }
        .career-path-1 {
            @media (640px <= width) {
                padding-right: 20px;
            }
        }
        .career-path-2 {
            @media (640px <= width) {
                padding-left: 20px;
            }
        }
        .career-path-3 {
            @media (640px <= width) {
                padding-right: 20px;
            }
        }
        .career-path-a {
            height: auto;
            margin-bottom: 25px;
            float: left;
            @media (640px <= width) {
                float: none;
            }
            @media (960px <= width) {
                display: inline-block;
            }
            .career-path-img {
                width: 100px;
                height: auto;
                flex-shrink: 0;
                @media (640px <= width) {
                    width: 200px;
                }
                @media (960px <= width) {
                    width: 150px;
                }
            }
        }
        .cp-b-sp {
            display: flex;
            @media (640px <= width) {
                display: none;
            }
        }
        .cp-b-pc {
            display: none;
            @media (640px <= width) {
                display: block;
            }
        }
        .career-path-b {
            margin-bottom: 25px;
            .career-path-about {
                font-family: variables.$base-font-Japanese;
                font-style: normal;
                margin-left: 25px;
                @media (640px <= width) {
                    margin: 0px;
                }

                .career-path-about-name {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px; /* 150% */
                    letter-spacing: 0.64px;
                    position: relative;
                    @media (640px <= width) {
                        font-size: 25px;
                        line-height: 30px; /* 120% */
                        letter-spacing: 1px;
                    }
                    &:after {
                        position: absolute;
                        background-color: variables.$color-logo-parts02;
                        border-radius: 9999px;
                        bottom: -8px;
                        content: "";
                        height: 3px;
                        width: 20px;
                        @media (640px <= width) {
                            bottom: -10.16px;
                        }
                    }
                }

                .career-path-about-text {
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 21.6px;
                    /* 180% */
                    letter-spacing: 0.48px;
                    margin-top: 23px;
                    @media (640px <= width) {
                        font-size: 14px;
                        line-height: 25.2px; /* 180% */
                        letter-spacing: 0.56px;
                        margin-top: 32.21px;
                    }
                }
            }
        }
        .career-path-c {
            width: 90.66%;
            margin: 0 auto;
            @media (640px <= width) {
                width: auto;
                margin-left: 40px;
                display: inline-block;
                vertical-align: top;
            }
            ul {
                margin-bottom: 90px;
                @media (640px <= width) {
                    margin-bottom: 80px;
                }
                li {
                    display: flex;
                    margin-bottom: 15px;
                }
            }
            .date {
                margin-right: 13.5px;
                width: 65px;
                padding: 0px 10px;
                justify-content: center;
                align-items: center;
                border-radius: 9999px;
                color: white;
                font-size: 10px;
                font-weight: 800;
                line-height: 18px; /* 180% */
                letter-spacing: 0.4px;
                background: variables.$color-logo-parts02;
                @media (640px <= width) {
                    font-size: 12px;
                    line-height: 18px; /* 150% */
                    letter-spacing: 0.48px;
                }
            }

            .circle {
                margin-right: 19px;
                z-index: 100;
                position: relative;
                svg {
                    position: relative;
                    z-index: 200;
                }
                .vertical-line {
                    display: block;
                    position: absolute;
                    margin-top: 7px;
                    background-color: variables.$color-logo-parts02;
                    border-radius: 9999px;
                    left: 9px;
                    width: 4px;
                    z-index: 10;
                }
            }

            .content {
                font-family: Noto Sans JP;
                font-size: 12px;
                font-weight: 700;
                line-height: 21.6px; /* 180% */
                letter-spacing: 0.48px;
                margin: 0;
                @media (640px <= width) {
                    font-size: 16px;
                    line-height: 24px; /* 150% */
                    letter-spacing: 0.64px;
                }
            }
        }
    }
}
