// メンバーページについて
@use "../global/variables" as variables;
.member-introduction-wrapper {
    font-family: variables.$base-font-Japanese;
    width: 90.66%;
    margin: 0 auto;
}

.member-introduction-title {
    width: 90.66%;
    padding: 120px 0px 70px 0px;
    margin: 0 auto;

    @media (640px <= width) {
    }
    @media (960px <= width) {
    }
}

.member-introduction-subtitle {
    color: variables.$color-black;
    text-align: center;
    font-size: 12px;
    font-weight: 700;

    @media (640px <= width) {
    }
    @media (960px <= width) {
    }
}

.member-introduction-h1 {
    font-family: variables.$base-font-English;
    color: variables.$color-logo-parts02;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 1.44px;

    @media (640px <= width) {
    }
    @media (960px <= width) {
    }
}

.b-heading {
    padding-bottom: 100px;

    h2 {
        font-family: variables.$base-font-English;
        color: variables.$color-logo-parts02;
        font-size: 10px;
        line-height: 2.7;
        letter-spacing: 0.4px;
    }

    h3 {
        font-size: 18px;
        letter-spacing: 0.72px;
        margin-bottom: 34px;
        line-height: 1.5;
    }
    .member-message {
        line-height: 1.8;
        margin-bottom: 40px;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        li {
            flex-grow: 1;
            width: 42.66%;
            margin-bottom: 5px;
            p {
                font-size: 10px;
                margin-top: 10px;
                line-height: normal;
            }
            h4 {
                font-size: 14px;
                line-height: normal;
            }
        }
        .andmore {
            position: relative;
            p {
                font-size: 16px;
                font-family: variables.$base-font-English;
                letter-spacing: 1.64px;
                color: variables.$color-black-light;
                position: absolute;
                inset: 50% auto auto 50%;
                translate: -50% -50%;
            }
        }
    }
}

#interview {
    margin-bottom: 100px;
    h2 {
        font-family: variables.$base-font-English;
        color: variables.$color-logo-parts02;
        font-size: 10px;
        line-height: 2.7;
        letter-spacing: 0.4px;
    }

    h3 {
        font-size: 18px;
        letter-spacing: 0.72px;
        margin-bottom: 34px;
        line-height: 1.5;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 60px;
        .interview-list {
            margin-bottom: 30px;
            width: 48%;
            &_date {
                font-size: 10px;
                font-family: variables.$base-font-English;
                color: variables.$color-gray-black;
            }
            &_img {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 24vw;
                background-color: #f2f2f2;
                border-radius: 4px;
            }
            &_content {
                color: variables.$color-black-light;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }
    .interview-seemore {
        position: relative;
        height: 90px;
        &_btn {
            font-size: 14px;
            width: 340px;
            inset: 35px auto auto 50%;
            translate: -50% -50%;
            position: absolute;
            text-decoration: none;
            padding: 17px 35px;
            background-color: variables.$color-white;
            border: 2px solid variables.$color-black;
            border-radius: 65px;
            color: variables.$color-black;
            cursor: pointer;
            box-shadow: 2px 2px 0 variables.$color-black;
            text-align: center;
            &:hover {
                transform: translate(2px, 2px);
                box-shadow: none;
            }
        }
        &_jump {
            position: absolute;
            inset: 22px 0px 0px 300px;
        }
        &_kome {
            font-size: 10px;
            color: variables.$color-gray-black;
            position: absolute;
            inset: 90px auto auto 50%;
            translate: -50% -50%;
        }
    }
}

.annotation {
    font-family: variables.$base-font-Japanese;
    color: variables.$color-gray-black;
}

.b-heading-about {
    width: 90.66%;
    margin: 0 auto;
    padding-bottom: 34px;
}
