// メンバーページについて
@use "../global/variables" as variables;
.member-introduction-wrapper {
    font-family: variables.$base-font-Japanese;
    width: 90.66%;
    margin: 0 auto;
}

.member-introduction-title {
    width: 90.66%;
    padding: 120px 0px 70px 0px;
    margin: 0 auto;

    @media (640px <= width) {
    }
    @media (960px <= width) {
    }
}

.member-introduction-subtitle {
    color: variables.$color-black;
    text-align: center;
    font-size: 12px;
    font-weight: 700;

    @media (640px <= width) {
    }
    @media (960px <= width) {
    }
}

.member-introduction-h1 {
    font-family: variables.$base-font-English;
    color: variables.$color-logo-parts02;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 1.44px;

    @media (640px <= width) {
    }
    @media (960px <= width) {
    }
}

.b-heading {
    padding-bottom: 100px;

    h2 {
        font-family: variables.$base-font-English;
        color: variables.$color-logo-parts02;
        font-size: 10px;
        line-height: 2.7;
        letter-spacing: 0.4px;
    }

    h3 {
        font-size: 18px;
        letter-spacing: 0.72px;
        margin-bottom: 34px;
        line-height: 1.5;
    }
    .member-message {
        line-height: 1.8;
        margin-bottom: 40px;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        li {
            flex-grow: 1;
            width: 42.66%;
            margin-bottom: 5px;
            p {
                font-size: 10px;
                margin-top: 10px;
                line-height: normal;
            }
            h4 {
                font-size: 14px;
                line-height: normal;
            }
        }
        .andmore {
            position: relative;
            p {
                font-size: 16px;
                font-family: variables.$base-font-English;
                letter-spacing: 1.64px;
                color: variables.$color-balack-light;
                position: absolute;
                inset: 50% auto auto 50%;
                translate: -50% -50%;
            }
        }
    }
}

.annotation {
    font-family: variables.$base-font-Japanese;
    color: variables.$color-gray-black;
}

.b-heading-about {
    width: 90.66%;
    margin: 0 auto;
    padding-bottom: 34px;
}
