// 募集要項ページについて
@use "../global/variables" as variables;

.requirements-title{
    width: 90.66%;
    padding: 120px 0px 70px 0px;

    @media (640px <= width) {

    }
    @media (960px <= width) {
    
    }
}

h1 {
    color: variables.$color-logo-parts03;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 1.44px;

    @media (640px <= width) {

    }
    @media (960px <= width) {
    
    }
}

.requirements-subtitle{
    color: variables.$color-black;
    text-align: center;
    font-size: 12px;
    font-weight: 700;

    @media (640px <= width) {

    }
    @media (960px <= width) {
    
    }
}

.requirements-anchor{
    width: 90.66%;
    margin: 0 auto;
    padding-bottom: 70px;

    ul{
        display: flex;
        flex-wrap: wrap;
        gap: 16px 20px;

        @media (640px <= width) {

            }
        @media (960px <= width) {
            
            }
        
        li{
            border-bottom: 1px solid variables.$color-black;
            width: calc((100% - 20px) / 2);
        }
    }
}