// colorやfontなどの変数ファイル

//////////* Font *//////////

// 日本語フォント
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
$base-font-Japanese: 'Noto Sans JP', sans-serif;

// 欧文フォント
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
$base-font-English: 'Montserrat', sans-serif;

//////////* Color *//////////

// Color
$color-white: #ffffff;
$color-black: #333333;
$color-black-light: #595959;
$color-logo-parts01: #F35A5A;
$color-logo-parts02: #FF9933;
$color-logo-parts03: #3F66A5;
$color-logo-parts04: #00A7A3;
$color-gray-light: #F4F4F4;
$color-gray-black: #999999;
