// エントリーボタン
@use '../global/variables' as variables;

.entry-btn {
  position: relative;
  height: 186px;

  .entry-btn_background {
    position: relative;
    display: flex;

    .entry-btn_bg-red {
      position: absolute;
      width: 30%;
      height: 186px;
      clip-path: polygon(-5vmax 0, 100% 0, 50% 100%, -5vmax 100%);
      background-color: variables.$color-logo-parts01;
      box-shadow: 0 0 0 100vmax variables.$color-logo-parts01;
    }

    .entry-btn_bg-orange {
      position: absolute;
      left: 13%;
      width: 50%;
      height: 186px;
      clip-path: polygon(29% 0, 100% 0, 0% 300%, 0% 100%);
      background-color: variables.$color-logo-parts02;
    }

    .entry-btn_bg-green {
      position: absolute;
      left: 42%;
      width: 50%;
      height: 186px;
      clip-path: polygon(29% 0, 100% 0, 0% 300%, 0% 100%);
      background-color: variables.$color-logo-parts04;
    }

    .entry-btn_bg-blue {
      position: absolute;
      right: 0;
      width: 30%;
      height: 186px;
      clip-path: polygon(40% 0, 100vmax 0, 100vmax 100%, 0% 100%);
      background-color: variables.$color-logo-parts03;
      box-shadow: 0 0 0 100vmax variables.$color-logo-parts03;
    }
  }

  .entry-btn_link_entry {
    position: absolute;
    inset: 50px 0 75px;
    width: 340px;
    padding: 17px 35px;
    margin: auto;
    margin: 0 auto;
    font: 800 18px/1.5 variables.$base-font-English;
    color: variables.$color-black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: variables.$color-white;
    border: 2px solid variables.$color-black;
    border-radius: 65px;
    box-shadow: 4px 4px 0 variables.$color-black;
  }

  .entry-btn_link_entry:hover {
    box-shadow: none;
    transition: all 0.2s ease-in-out;
    transform: translate(4px, 4px);
  }

  .entry-btn_arrow {
    position: absolute;
    inset: 22px 0 0 300px;
  }

  .entry-btn_link_requirements {
    position: absolute;
    inset: 50% auto auto 50%;
    font-size: 14px;
    line-height: 1.8;
    color: variables.$color-white;
    text-decoration: underline;
    letter-spacing: 0.56px;
    cursor: pointer;
    translate: -50% 140%;
  }

  .entry-btn_link_requirements:hover {
    opacity: 0.8;
  }
}
